---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
import { getAllProducts } from '../lib/db';
import ProductCarousel from '../components/products/ProductCarousel.astro';
import ProductListPagination from '../components/ProductListPagination.astro';

const products = await getAllProducts();
---

<Layout title="Онлайн дэлгүүр">
  <!-- Hero Section with Carousel -->
  <div class="container py-5">
    <!-- <h1 class="display-4 fw-bold text-center mb-4 text-dark">
      Шилдэг бүтээгдэхүүн 
    </h1> -->
    
    <ProductCarousel products/>
  </div>
  <div class="text-center mt-4">
  <a href="/products" class="btn btn-outline-primary btn-lg">
    Бүх бүтээгдэхүүнийг үзэх
  </a>
</div>


  <!-- Products Section -->
  <div class="container py-4">
    <!-- Section Header -->
    <div class="row mb-4">
      <div class="col-md-8">
        <h2 class="text-primary">Шинэ бүтээгдэхүүн</h2>
        <p class="lead text-muted">Технологийн хамгийн сайн бүтээгдэхүүнүүд</p>
      </div>
    </div>

    <!-- Products Grid -->
    <div class="row">
      <ProductListPagination products={products} ></ProductListPagination>
      <!-- {products.map(product => (
        <div class="col-lg-4 col-md-6 mb-4">
          <ProductCard {...product} />
        </div>
      ))} -->
    </div>
  </div>
</Layout>
