---
import 'bootstrap/dist/css/bootstrap.min.css';
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Our Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class={`nav-link ${pathname === "/" ? "active" : ""}`} href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class={`nav-link ${pathname === "/products" ? "active" : ""}`} href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class={`nav-link ${pathname === "/about" ? "active" : ""}`} href="/about">About</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-primary position-relative" id="cartBtn">
          Cart
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cartCount">
            0
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
